Cat/bin/
Cat/obj/
Cat.Persistence/bin/
Cat.Persistence/obj/
Cat.Persistence.Domain/bin/
Cat.Persistence.Domain/obj/
Cat.Persistence.EntityFrameworkCore/bin/
Cat.Persistence.EntityFrameworkCore/obj/
Cat.Persistence.JsonStorage/bin/
Cat.Persistence.JsonStorage/obj/
packages/
.vs/